{% if page.url contains "/course/" %}
            <nav class="flex" aria-label="Breadcrumbs">
                <ol class="flex items-center space-x-4">
                    <li>
                        <div>
                            <a
                                href="#"
                                class="text-gray-200 hover:text-gray-700"
                            >
                                <svg
                                    class="flex-shrink-0 h-5 w-5"
                                    xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 20 20"
                                    fill="currentColor"
                                    aria-hidden="true"
                                >
                                    <path
                                        d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"
                                    ></path>
                                </svg>
                                <span class="sr-only">Home</span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="flex items-center">
                            <svg
                                class="flex-shrink-0 h-5 w-5 text-gray-300"
                                xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 20 20"
                                fill="currentColor"
                                aria-hidden="true"
                            >
                                <path
                                    fill-rule="evenodd"
                                    d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                    clip-rule="evenodd"
                                ></path>
                            </svg>

                            {% if page.path contains "_course" %}{% assign
                            course = site.data.courses | where: "id", page.tag |
                            first %} {% elsif page.path contains "_posts" %} {%
                            assign course = site.data.courses | where: "id",
                            page.categories | first %} {% endif %}
                            <a
                            {% if page.path contains "_course" %}
                            {% else %}
                                href="/course/{{ course.id }}"
                                {% endif %}
                                class="
                                    ml-4
                                    text-sm
                                    font-medium
                                    text-gray-200
                                    hover:text-gray-700
                                "
                            >
                                {{ course.name }}
                            </a>
                        </div>
                    </li>

                    {% if page.path contains "_posts" %}
                    <li>
                        <div class="flex items-center">
                            <svg
                                class="flex-shrink-0 h-5 w-5 text-gray-300"
                                xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 20 20"
                                fill="currentColor"
                                aria-hidden="true"
                            >
                                <path
                                    fill-rule="evenodd"
                                    d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                    clip-rule="evenodd"
                                ></path>
                            </svg>
                            <a
                                aria-current="page"
                                class="
                                    ml-4
                                    text-sm
                                    font-medium
                                    text-gray-200
                                    hover:text-gray-700
                                "
                                >
                                {{ page.title }}
                                </a>
                        </div>
                    </li>
                    {% endif %}
                </ol>
            </nav>
            {% endif %}