<div
    class="bg-gradient-to-r from-dark-gray via-light-gray to-light-yellow pb-32"
>
    <nav
        class="
            bg-gradient-to-r
            from-dark-gray
            via-light-gray
            to-light-yellow
            text-center
            lg:text-left
            w-full
        "
    >
        <div class="max-w-7xl mx-auto px-2 sm:px-4 lg:px-8">
            <div
                class="
                    relative
                    h-16
                    flex
                    items-center
                    justify-between
                "
            >
                <div class="px-2 flex items-center lg:px-0">
                    <a
                        href="/"
                        class="flex-shrink-0 text-white text-xl tracking-wide"
                    >
                        Institute Learning
                    </a>
                </div>
            </div>
        </div>
    </nav>
    <header class="py-10">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <h1 class="text-3xl font-bold text-white {% unless page.subtitle %} mb-2 {% endunless %}">{{ page.title }}</h1>

            {% if page.subtitle %}
            <h2 class="text-gray-300 mb-4">{{ page.subtitle }}</h2>
            {% endif %}

            {% include breadcrumbs.html %}
        </div>
    </header>
</div>
