---
layout: main
---

<div class="prose max-w-none leading-snug">{{ content }}</div>

<footer id="answer-footer" class="hidden text-xs">
    Click "Answer" to toggle the answer's visibility
</footer>

<script>
    // Heading Permalink Copying
    Array.from(
        document
            .querySelector(".prose.max-w-none.leading-snug")
            .querySelectorAll("h1, h2, h3, h4, h5, h6")
    ).forEach((heading) => {
        heading.addEventListener("click", () =>
            navigator.clipboard.writeText(
                `${window.location.href.split("#")[0]}#${heading.id}`
            )
        );

        heading.classList.add("hover:text-blue-500");
    });

    // Answer Toggle
    if (document.getElementsByClassName("toggle-answer").length > 0) {
        document.getElementById("answer-footer").classList.remove("hidden");
    }

    Array.from(document.getElementsByClassName("toggle-answer")).forEach(
        (answerToggleElement) =>
            answerToggleElement.addEventListener("click", (evt) =>
                evt.target.parentNode
                    .getElementsByClassName("filter")[0]
                    .classList.contains("blur-sm")
                    ? evt.target.parentNode
                          .getElementsByClassName("filter")[0]
                          .classList.remove("blur-sm")
                    : evt.target.parentNode
                          .getElementsByClassName("filter")[0]
                          .classList.add("blur-sm")
            )
    );
</script>

{% if page.latex %}
{% include latex.html %}
{% endif %}
